{% extends 'blog/base.html' %}

{% block content %}
    <main>
        <h4>Welcome to My Site!

            Hi there! 🌟 I'm Adwoa, a young girl with a big passion for technology. I've just started learning how to code, and I'm excited to share my experiences, projects, and growth with you. Whether you're here to follow along, learn something new, or just curious about coding, you're in the right place! Let's embark on this exciting journey together—one line of code at a time. 💻✨</h4>

    </main>
{% endblock %}
