{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P blog</title>
   <link rel="stylesheet" type="text/css" href="{% static 'styles/css/styles.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h3><b><a href="{% url 'home' %}">Home</a></b></h3>
            <h3><b><a href="{% url 'about' %}">About</a></b></h3>
            <h3><b><a href="{% url 'post_list' %}">Blog</a></b></h3>
        </nav>
    </header>
    <main>
        <div class="welcome"> 
            <p><h1><b>Hi, I'm Adwoa. Here, I code the future, one line at a time.</b></h1><br><img src="{% static 'media/girl.jpeg' %}" alt="girl in glasses"></p>
        </div>
        <div class="container">
            <p>We are all about coding and changing the world using God's word applied in Tech.</p>
            <a href="{% url 'downloadfile' %}"><button class="btn">Download CV</button></a>
        </div>
    </main>

</body>
</html>