{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P blog</title>
   <link rel="stylesheet" type="text/css" href="{% static 'styles/css/styles.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h3><b><a href="#home">Home</a></b></h3>
            <h3><b><a href="#about">About</a></b></h3>
            <h3><b><a href="{% url 'post_list' %}">Blog</a></b></h3>
            <h3><b><a href="#projects">Projects</a></b></h3>
        </nav>
    </header>
    <main>
        <div class="welcome"> 
            <p><h1><b>Hi, I'm Adwoa. Here, I code the future, one line at a time.</b></h1><br><img src="{% static 'media/girl.jpeg' %}" alt="girl in glasses"></p>
        </div>
        <div class="container">
            <p>We are all about coding and changing the world using God's word applied in Tech.</p>
            <a href="{% url 'downloadfile' %}"><button class="btn">Download CV</button></a>
        </div>
    </main>

    <section id = "home">
        <div class="section-content">
            <h4>Welcome to My Site!
    
                Hi there! 🌟 I'm Adwoa, a young girl with a big passion for technology. I've just started learning how to code, and I'm excited to share my experiences, projects, and growth with you. Whether you're here to follow along, learn something new, or just curious about coding, you're in the right place! Let's embark on this exciting journey together—one line of code at a time. 💻✨</h4>
    
            </div>
    </section>

    <section id="about">
        <div class="section-content">
            <h2>About Me</h2>
            <p>I'm Adwoa, a tech enthusiast who's passionate about learning and coding. I started my coding journey recently, and I'm constantly growing. I love experimenting with different programming languages and technologies.</p>
        </div>
    </section>

    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}

    <section id="projects">
        <div class="section-content">
            <h2>Projects</h2>
            <div class="project">
                <h3>Basic Calculator - Python</h3>
                <p>A Python calculator that can perform basic operations. Collaborated with my mentor, Zenas Awuku, to enhance its functionalities and push the code to GitHub.</p>
                <a href="https://github.com/Adwoa-p/basic-calculator">View Project</a>
            </div>
            <div class="project">
                <h3>Django Blog - Web App</h3>
                <p>Built a blog using Django during a DjangoGirls workshop. This project taught me about Python basics and deploying web apps using platforms like PythonAnywhere.</p>
                <a href="https://adwoapokua.pythonanywhere.com">View Live Project</a>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="footer">
              
        </div>
    </footer>

</body>
</html>