body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: #6494c4;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
    text-align: center;
    display: flex;            /* Enable flexbox */
    justify-content: space-between; /* Space between header elements */
    align-items: center;      /* Center items vertically */
    padding: 10px;        
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #f1aeae;
    font-size: 36pt;
    text-decoration: none;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #747db0;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #614747;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #cd5e5e;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #c2af00;
    background: none;
    border-color: #e5e0dc;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #009ec2;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}


